VITE_SUPABASE_URL=https://ubqncvxykjcfxjkhbcuo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVicW5jdnh5a2pjZnhqa2hiY3VvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI1NzE2NDIsImV4cCI6MjA5ODE0NzY0Mn0.OO1ijIBGUPFxTTYJXEILRHA-9mmBgDhkfRHEFSP_5o0
